
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=YOUR_API_KEY
API_TOKEN_SALT=xQXbBxV1r7PqmlBwqdqQ6w==
ADMIN_JWT_SECRET=N101XMWCuEXioL5AcUUXNQ==
TRANSFER_TOKEN_SALT=snLVrC1zjEcBAiImZztxpA==
ENCRYPTION_KEY=+VBmYRFgyNJolzzMYU7lEw==

VITE_STRAPI_URL=http://localhost:1337

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=IAchg2i73VwTwUxBgitpp1hrw==
